/* Se añade estilos a la etiqueta body para centrar su contenido */
body{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #f7f8fc, #e0e7ff);
  overflow: hidden;

}

/* Se aaden estilos para el form creado */
.form{
  text-align: center;
}


input {
  width: 500px;
  height: 40px;
  font-size: 18px;
  /* Se añaden los siguientes estilos */
  box-sizing: border-box;
  padding: 5px;
  background-color: transparent;
  margin: 0;
}

/* Se añaden estilos para el boton  */
.btn{
  height: 40px;
  margin: 0;
  background-color: transparent;
  border-radius: 0px 7px 7px 0;
 
}

.contenedor-productos{
  text-align: center;
  margin-top: 50px;
}

#lista-de-productos {
  display: flex;

}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto;
  background-color: none;
}